<ul>
        <li style="font-size: 25px;font-family: 'Concert One', cursive;"><a>WEATHER</a></li>
        <li style="float:right"><a href="/about">About</a></li>
        <li style="float:right"><a href="/weather">Weather</a></li>
        <li style="float:right"><a class="active" href="/">Home</a></li>
        
      </ul>
    
