h1{
    color: tomato;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  .active {
    background-color: transparent;
  }
  header{
      color: white;
      background-color: black;
      font-size: 50px;
      text-align: center;
  }
  #box{
      color: #044e69;
      text-align: center;
      padding: 20px;
      font-size: 40px;
      font-family: 'Concert One', cursive;
     


      /* font-family: 'Lobster', cursive; */

  }
  button{
      color: white;
      background-color: teal;
      text-align: center;
      font-size: 20px;
      padding: 9px;
      font-family: 'Concert One', cursive;
  }
  body{
      align-items: center;
      text-align: center;
     
    }

#mainBox
{
     /* background-color: whitesmoke; */
    padding: 50px;
    /* width: 50%; */
    /* height: 50%; */
    /* box-shadow: rgb(226, 226, 226) 10px 10px;  */
}